.card-body{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s all;    
    color:white;
    font-weight: bold;
}

.card-body .info{
    left: 0;
    bottom: 0;
    width: 100%;
}

.card-body .detail-link a{
    color: rgb(255, 70, 70);;
}

.card-body .info .vote .fa-star{
    color: gold;
}

.card:hover  .card-body{
    opacity: 1;
    background: rgba(0,0,0,0.5);
}

.card-title{
    text-align: center;
    font-size: 20px;
}

.favorite-button{
    position:absolute;
    right: 0px;
    top: 0px;
    border: none;
    background: none;
    font-size: 30px;
    color: white;
    padding: 0px 5px 0px ;
    background-color: black;
}
.favorite-button:hover{
    color: rgb(255, 70, 70);
}

.favorite-button .favorite{
    color: rgb(255, 70, 70);
}

.card-body .vote{

}