.poster-movie img{
    height: auto;
    /* max-height: 600px; */
    /* max-width: 450px; */
}

.image-movie img{
    width: 100%;
}

.info-movie .general-info {
    color: gray;
}

.info-movie .rating{
    font-size: 25px;
}

.info-movie .rating .fa-star{
    color: gold;
}

.general-info .break{
    margin: 0 10px;
}

.companies .company img{
    height: auto;
    width: 120px;
}